---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Tag from "../../components/Tag.astro";
import "../../styles/GlobalStyles.css";
import "@fontsource/open-sans";
import "@fontsource/poppins";

// Define getStaticPaths function
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

// Fetch the specific post data
const { slug } = Astro.params;
const post = await getEntry("blog", slug);

if (!post) {
  throw new Error(`Post not found: ${slug}`);
}
  const { title, summary, date, tags } = post.data;
const { Content } = await post.render(); 

---

<Layout title={title}>
  <main class="max-w-[600px] m-auto py-8">
    <div class="flex flex-row items-center gap-4 text-sm mb-6">
      <div class="flex flex-row gap-4">
        {tags && tags.map((tag: string) => <div class="badge badge-primary">{tag}</div>)}
      </div>
      <div>{date}</div>
    </div>
    <h1 class="text-4xl font-bold pb-2">{title}</h1>
    <p class="text-lg">{summary}</p>
    <section class="flex flex-col gap-6 my-8 leading-relaxed">
      <Content />
    </section>
  </main>
</Layout>
