---
import { getCollection, getEntryBySlug } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Tag from "../../components/Tag.astro";
import "../../styles/GlobalStyles.css";
import "@fontsource/open-sans";
import "@fontsource/poppins";

// Define getStaticPaths function
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

// Fetch the specific post data
const { slug } = Astro.params;
const post = await getEntryBySlug("blog", slug);
const { title, summary, date, tags } = post.data;
const { Content } = await post?.render();

if (!post) {
  throw new Error(`Post not found: ${slug}`);
}
---

<Layout title="test">
  <div class="container">
    <h1>{title}</h1>
    <p class="subtitle">{summary}</p>
    <div class="subinfoContainer">
      <div>{date}</div>
      <div class="tagContainer">
        {tags && tags.map((tag: string) => <Tag title={tag} />)}
      </div>
    </div>
    <section id="contentContainer">
    <Content />
    </section>
  </div>
</Layout>

<style is:global>
  p {
    font-size: 18px;
  }
  .container {
    width: 50%;
    margin: auto;
    padding: 32px 0px;
  }
  .subinfoContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    font-size: 14px;
    padding: 8px 16px;
  }
  .tagContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  #contentContainer {
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .subtitle {
    padding: 8px 0px
  }
</style>
