---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../../styles/GlobalStyles.css";
import { Icon } from "astro-icon/components";

// Define getStaticPaths function
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

// Fetch the specific post data
const { slug } = Astro.params;
const post = await getEntry("blog", slug);

if (!post) {
  throw new Error(`Post not found: ${slug}`);
}
const { title, summary, date, tags } = post.data;
const { Content } = await post.render();
---

<Layout title={title}>
  <main class="max-w-[600px] m-auto py-8 w-[90%]">
    <div class="flex flex-row items-center gap-4 text-sm mb-6">
      <div class="flex justify-between w-full items-center">
        <a href="/blog"
          ><button class="btn btn-sm btn-outline">
            <Icon name="mdi:arrow-back" size={20} />
            All Blogs</button
          ></a
        >
      </div>
    </div>
    <h1 class="text-4xl font-bold pb-2">{title}</h1>
    <p class="text-lg">{summary}</p>
    <div class="flex gap-6 mt-10 text-sm w-full">
      <ul class="flex flex-row gap-2">
        {
          tags &&
            tags.map((tag: string) => (
              <li>
                <div class="badge badge-primary">{tag}</div>
              </li>
            ))
        }
      </ul>
      <div class="flex-shrink-0">{date}</div>
    </div>

    <section class="flex flex-col gap-6 my-8 leading-relaxed">
      <Content />
    </section>
  </main>
</Layout>
