---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import "../../styles/GlobalStyles.css";

import { getCollection } from "astro:content";
import CardNew from "../../components/CardNew.astro";

const blogPosts = await getCollection("blog");
---

<Layout title="Christopher Coyne's Blog">
  <main class="flex flex-col gap-4 m-auto max-w-[600px]">
    <h1 class="font-semibold text-xl">Blog</h1>

    <div>
      <input type="text" placeholder="Search" id="searchbar" class="input input-bordered w-full"/>
      {/*
      <div class="selectContainer">
        <select id="filter by" name="filter by">
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
        </select>
      </div>
    */}
    </div>
    <section>
      {/*
      <ComeBackLater>
        <p>Blog articles coming in the future :)</p>
      </ComeBackLater>
    */}
    <div class="divider"></div>
      <ul id="grid-container">
        {
          blogPosts.map((post: any) => (
            <CardNew
              title={post.data.title}
              body={post.data.summary}
              tags={post.data.tags}
              href={`/blog/${post.slug}`}
              date={post.data.date}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  .mainContainer {
    width: 50%;
    margin: 32px auto;
  }
  .searchContainer {
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
  }
  .selectContainer {
    display: flex;
    gap: 16px;
    flex-direction: row;
  }
  select {
    border-radius: 4px;
    padding: 8px;
    border: 2px solid var(--border-color);
    background-color: var(--surface-color);
    color: var(--text-color);
  }
  select:focus {
    outline: none;
    border-color: var(--primary-color);
  }

  @media (max-width: 1000px) {
    .mainContainer {
    width: 90%;
  }
  
}
</style>

<script is:inline>
  const searchBar = document.getElementById("searchbar");
  const blogPostsContainer = document.getElementById("grid-container");
  const blogPosts = blogPostsContainer.getElementsByClassName(
    "link-card-container",
  );

  // Attach an event listener to the search bar
  searchBar.addEventListener("input", (event) => {
    const filter = event.target.value.toLowerCase();
    Array.from(blogPosts).forEach((post) => {
      const titleElement = post.querySelector("h3");
      console.log("title element ", titleElement);
      if (titleElement) {
        const title = titleElement.textContent.toLowerCase();
        if (title.includes(filter)) {
          post.style.display = "";
        } else {
          post.style.display = "none";
        }
      }
    });
  });
</script>
