---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import CardNew from "../../components/CardNew.astro";

const blogPosts = await getCollection("blog");
let publishedPosts = blogPosts.filter((post) => post.data.published);
// Sort by most recent date first
publishedPosts = publishedPosts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<Layout title="Christopher Coyne's Blog">
  <main class="flex flex-col gap-4 m-auto max-w-[700px] min-h-[90vh] w-[90%]">
    <h1 class="font-semibold text-2xl animate-fade-in-up">Blog Posts</h1>

    <div class="flex gap-4 animate-fade-in-up delay-100">
      <input
        type="text"
        placeholder="Search"
        id="searchbar"
        class="input input-bordered w-full"
      />
      {
        /*
      <div>
        <select class="select">
          <option disabled selected>Sort by</option>
          <option>Newest</option>
          <option>Oldest</option>
        </select>
      </div>
      */
      }
    </div>
    <div></div>
    <section class="animate-fade-in-up delay-200">
      <div class="divider"></div>
      <ul id="blog-container" class="flex flex-col gap-4">
        {
          publishedPosts.map((post: any) => (
            <li>
              <CardNew
                title={post.data.title}
                body={post.data.summary}
                tags={post.data.tags}
                href={`/blog/${post.slug}`}
                date={post.data.date}
              />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<script>
  function init() {
    const searchBar = document.getElementById("searchbar");
    const blogPostsContainer = document.getElementById("blog-container");
    const blogPosts = blogPostsContainer
      ? blogPostsContainer.getElementsByTagName("li")
      : null;

    if (searchBar && blogPosts) {
      // Attach an event listener to the search bar
      searchBar.addEventListener("input", (event: Event) => {
        const target = event.target as unknown as HTMLInputElement;
        const filter = target.value.toLowerCase();
        Array.from(blogPosts).forEach((post) => {
          const titleElement = post.getElementsByClassName("title")[0];
          if (titleElement?.textContent) {
            const title = titleElement.textContent.toLowerCase();
            if (title.includes(filter)) {
              post.style.display = "";
            } else {
              post.style.display = "none";
            }
          }
        });
      });
    }
  }
  document.addEventListener("astro:page-load", () => init());
</script>
