---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import "../../styles/GlobalStyles.css";

import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<Layout title="Chris's Blog">
  <main class="mainContainer">
    <h1>Blog</h1>

    <div class="searchContainer">
      <input type="text" placeholder="Search" id="searchbar" />
      <div class="selectContainer">
        <select id="filter by" name="filter by">
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
        </select>
      </div>
    </div>
    <section>
      <ul id="grid-container">
        {
          blogPosts.map((post: any) => (
            <Card
              title={post.data.title}
              body={post.data.summary}
              tags={post.data.tags}
              href={`/blog/${post.slug}`}
              date={post.data.date}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  .mainContainer {
    width: 50%;
    margin: 32px auto;
  }
  #grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .searchContainer {
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }
  #searchbar {
    padding: 8px;
    font-size: 16px;
    color: #393939;
    width: 50%;
    border-radius: 4px;
    border: 2px solid var(--border-color);
    background-color: var(--surface-color);
    color: var(--text-color);
  }
  .selectContainer {
    display: flex;
    gap: 16px;
    flex-direction: row;
  }
  select {
    border-radius: 4px;
    padding: 8px;
    border: 2px solid var(--border-color);
    background-color: var(--surface-color);
    color: var(--text-color);
  }
  #searchbar:focus {
    outline: none;
    border-color: var(--primary-color);
  }
  select:focus {
    outline: none;
    border-color: var(--primary-color);
  }
</style>

<script is:inline>
  const searchBar = document.getElementById("searchbar");
  const blogPostsContainer = document.getElementById("grid-container");
  const blogPosts = blogPostsContainer.getElementsByClassName(
    "link-card-container",
  );

  // Attach an event listener to the search bar
  searchBar.addEventListener("input", (event) => {
    const filter = event.target.value.toLowerCase();
    Array.from(blogPosts).forEach((post) => {
      const titleElement = post.querySelector("h3");
      console.log("title element ", titleElement);
      if (titleElement) {
        const title = titleElement.textContent.toLowerCase();
        if (title.includes(filter)) {
          post.style.display = "";
        } else {
          post.style.display = "none";
        }
      }
    });
  });
</script>
