---
import Layout from "../layouts/Layout.astro";
import "../styles/GlobalStyles.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import { Icon } from "astro-icon/components";
import Button from "../components/Button.astro";
import CardNew from "../components/CardNew.astro"

import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<Layout title="Christopher Coyne's blog and portfolio">
  <main class="flex flex-col max-w-[600px] m-auto gap-16">
    <section class="flex flex-col">
      <div class="flex flex-col gap-4 items-center">
        <img
          src="/images/mypics/headshot.webp"
          alt="Chris's headshot"
          id="headshot"
          class="w-[170px] h-[170px] rounded-full"
        />
        <div>
          <h1 class="font-semibold text-2xl">Christopher Coyne</h1>
          <p class="text-sm text-center">Software Engineer and Creator</p>
        </div>
        <ul class="flex flex-row gap-4">
          <li class="link ">
            <a href="https://github.com/christopher-coyne" target="_blank" rel="noopener noreferrer">
              <Icon name="mdi:github" size={24} />
            </a>
          </li>
          <li class="link ">
            <a href="mailto:christcoyne@gmail.com">
              <Icon name="mdi:email" size={24} />
            </a>
          </li>
          <li class="link ">
            <a href="https://www.linkedin.com/in/christopher-coyne/" target="_blank" rel="noopener noreferrer">
              <Icon name="mdi:linkedin" size={24} />
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="flex flex-col gap-4">
      <div>
        <h2 class="font-semibold">About Me</h2>
      </div>
      <p>
        I am a software engineer currently working at Pyyne Digital, in NYC. My
        expertise is primarily in full stack development, and I love to design
        and build products from the ground up.
      </p>
      <p>
        I studied English as an undergraduate at Columbia University, where I
        later obtained a masters degree in computer science.
      </p>
      <div>
      <h4>Some Tech I've been using recently</h4>
      <ul class="flex flex-col gap-2 p-2 text-sm">
        <li>{"> "}Languages: Javascript, Typescript, HTML/CSS, Java</li>
        <li>
          {"> "}Frameworks and Libraries: React, Spring Boot, Express, Tailwind
          CSS
        </li>
        <li>
          {"> "}Platforms and Tools: AWS, Docker, Github Actions, Shopify,
          Stripe
        </li>
      </ul>
    </div>
    </section>
    {
      /* 
    <section>
      <h3>Projects</h3>
    </section>
  */
    }
    <section class="flex flex-col gap-4">
      <div>
        <h2 class="font-semibold">Art and Computer Science</h2>
      </div>
      <p class="p-8 bg-primary/20 rounded-sm">
        "I have always imagined that paradise will be a kind of library"
      </p>
      <p>
        During my education, one of the most influential classes I took was
        “Literature in the Age of AI” taught by professor Dennis Tenen. My eyes
        were opened to the ways that computer science, philosophy, and art could
        intermix and I wanted to contribute in my own way. My final project for
        the class explored the universal language developed by philosopher John
        Wilkins, and sought to recreate it using modern AI tools.
      </p>
      <p>
        I have always been passionate about the visual arts. In the future, I hope to create pieces
        that combine art and computer science into something new.
      </p>
    </section>
    <section class="flex flex-col gap-4">
      <div class="flex justify-between">
        <h2 class="font-semibold">Posts</h2>
        <a href="#" class="link">All Posts</a>
      </div>
      <ul>
        {
          blogPosts.map((post: any) => (
            <li>
            <CardNew
              title={post.data.title}
              body={post.data.summary}
              tags={post.data.tags}
              href={`/blog/${post.slug}`}
              date={post.data.date}
            />
            </li>
          ))
        }
      </ul>
    </section>
    <section class="pb-24 flex flex-col gap-4">
      <div>
        <h2 class="font-semibold">Collab</h2>
      </div>
      <div class="flex justify-between items-center">
        <p>Always looking to collaborate and network</p>
        <button class="btn btn-outline btn-sm">
          Contact
          <Icon name="mdi:email" size={20} />
          </button>
      </div>
    </section>
  </main>
</Layout>
