---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import CardNew from "../components/CardNew.astro";

import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
let publishedPosts = blogPosts.filter((post) => post.data.published);
/*
possible tags - programming, vidya, design, internet (culture), art, literature, music, personal
*/
---

<Layout title="Christopher Coyne's blog and portfolio">
  <main
    class="flex flex-col w-[90%] max-w-[700px] m-auto gap-16 text-base-content text-lg"
  >
    <section class="flex flex-col">
      <div class="flex flex-col gap-6 items-center">
        <img
          src="/images/mypics/headshot.webp"
          alt="Chris's headshot"
          id="headshot"
          class="w-[100px] h-[100px] sm:w-[170px] sm:h-[170px] rounded-full"
        />
        <div class="flex flex-col items-center gap-2">
          <h1 class="font-bold text-3xl">Christopher Coyne</h1>
          <p class="text-center">Software Engineer and Creator</p>
        </div>
        <ul class="flex flex-row gap-4">
          <li class="link">
            <a
              href="https://github.com/christopher-coyne"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Github"
            >
              <Icon name="mdi:github" size={32} />
            </a>
          </li>
          <li class="link">
            <a href="mailto:christcoyne@gmail.com" aria-label="Email">
              <Icon name="mdi:email" size={32} />
            </a>
          </li>
          <li class="link">
            <a
              href="https://www.linkedin.com/in/christopher-coyne/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
            >
              <Icon name="mdi:linkedin" size={32} />
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="flex flex-col gap-6">
      <div>
        <h2 class="font-semibold text-2xl">About Me</h2>
      </div>
      <p>
        I am a software engineer currently working at Pyyne Digital, in NYC. My
        expertise is primarily in full stack development, and I love to design
        and build products from the ground up.
      </p>
      <div>
        <p>Some Tech I've been using recently</p>
        <ul class="flex flex-col gap-2 p-2">
          <li>{"> "}Languages: Javascript, Typescript, HTML/CSS</li>
          <li>
            {"> "}Frameworks and Libraries: React, NestJS, Express, Tailwind CSS
          </li>
          <li>
            {"> "}Platforms and Tools: AWS, Digital Ocean, Docker, Shopify,
            Stripe
          </li>
        </ul>
      </div>
    </section>
    {
      /* 
    <section>
      <h3>Projects</h3>
    </section>
  */
    }
    {
      /*
    <section class="flex flex-col gap-6">
      <div class="flex justify-between">
        <h2 class="font-semibold text-2xl">Art and Computer Science</h2>
        <a href="/art" class="link">Artwork</a>
      </div>
      <p class="p-8 bg-primary/20 rounded-lg">
        "I have always imagined that paradise will be a kind of library"
      </p>
      <p>
        During my education, one of the most influential classes I took was
        “Literature in the Age of AI” taught by professor Dennis Tenen. My eyes
        were opened to the ways that computer science, philosophy, and art could
        intermix and I wanted to contribute in my own way. My final project for
        the class explored the universal language developed by philosopher John
        Wilkins, and sought to recreate it using modern AI tools.
      </p>
      <p>
        I have always been passionate about the visual arts. In the future, I
        hope to create pieces that combine art and computer science into
        something new.
      </p>
    </section>
    */
    }
    <section class="flex flex-col gap-6">
      <div class="flex justify-between">
        <h2 class="font-semibold text-2xl">Blog Posts</h2>
        <a href="/blog" class="link">All Posts</a>
      </div>
      <ul class="flex flex-col gap-4">
        {
          publishedPosts.map((post: any) => (
            <li>
              <CardNew
                title={post.data.title}
                body={post.data.summary}
                tags={post.data.tags}
                href={`/blog/${post.slug}`}
                date={post.data.date}
              />
            </li>
          ))
        }
      </ul>
    </section>
    <section class="pb-24 flex flex-col gap-6">
      <div>
        <h2 class="font-semibold text-2xl">Collab</h2>
      </div>
      <div
        class="flex flex-col gap-2 items-start sm:flex-row sm:justify-between sm:items-center"
      >
        <p>Always looking to collaborate and network</p>
        <button class="btn btn-outline btn-sm">
          Contact
          <Icon name="mdi:email" size={20} />
        </button>
      </div>
    </section>
  </main>
</Layout>
