---
interface Props {
  title: string;
  body: string;
  href: string;
  date: string;
  tags: string[];
}

import Tag from "./Tag.astro";

const { href, title, body, date, tags } = Astro.props;

console.log("title ", title);
---

{/* card for blog posts */}
<li class="link-card-container">
  <div class="link-card">
    <a href={href}>
      <h3 class="cardTitle">
        {title}
      </h3>
      <div class="tagContainer">
        {tags.map((tag) => <Tag title={tag} />)}
        <p>{date}</p>
      </div>
      <p>
        {body}
      </p>
    </a>
  </div>
</li>
<style>
  .link-card-container:hover .link-card {
    transform: translateY(-5px);
  }
  .link-card {
    border-radius: 8px;
    box-shadow: 4px 4px 8px var(--shadow-color);
    background-color: var(--surface-color);
    height: 100%;
  }
  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  .tagContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 12px;
  }
</style>
